@media (prefers-color-scheme: dark) {
    .markdown-body,
    [data-theme=dark] {
        color-scheme: dark;
        --color-fg-default: #e6edf3;
    }
}

h1 > a {
    color: var(--color-fg-default) !important;
    text-decoration: underline !important;
}